html body{
    width:100%;
    height :100%;
    background: linear-gradient(45deg,#7842b3,  #063d33 40%,  #7daad8 80%) no-repeat;

}
/* #underConstruction{
    background-image: url("../img/Website_under_construction.png");
    height:100vh;
    background-size: cover; */
/* } */
.background{
    /* background: linear-gradient(45deg,#7842b3,  #063d33 40%,  #7daad8 80%)  no-repeat; */
    min-height:100vh;
}
.movie_card{
    max-width: 400px;
    background-color: rgba(39, 36, 36, 0.6);
    box-shadow: 3px 2px 15px rgb(23, 23, 23);
    color : bisque;
}
.poster{
    border : solid black 1px;


}
.movie_overview{
    background-color: rgb(180, 180, 180);
    color :rgb(1, 1, 1);
    box-shadow : inset 1px 1px 10px rgb(35, 35, 37);

}
.movie_card_upperpart{
    min-height: 60%;
}
.movie_card_lowerpart{
    height: 40%;
}
.register_form{
    background: rgba(0, 0, 0, 0.5);
    border-radius : 10px;
}
.profile_pic{
    width: 200px;
    /* box-shadow: inset 5px 3px 20px black; */
}
.minipic{
    max-width: 100px !important;
    max-height:130px !important;
    overflow:hidden;
}
.searchResults h3{
    font-size: smaller;
    max-width: 100px;
    word-break: break-word;
}
.searchResults{
    background-color: rgba(39, 36, 36, 0.4);
    box-shadow: inset 3px 2px 15px rgb(23, 23, 23);
    color : bisque;
    max-height : 220px;
    
}
.movie_poster{
    max-width: 600px;
}